<section class="home-banner">
  <header>{{group?.name}}</header>
</section>
<section class="loading" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  <header>Loading group...</header>
</section>


<section *ngIf="!isLoading" class="background animated fadeIn">
  <div class="bg-banner bg-setup"  [style.backgroundImage]="'url('+group?.background+')'" >
       <div class="bg-banner-dimmer">
           <div class="bg-img">
               
               <header class="bg-header">{{group?.members.length-1}}</header>
               <header class="bg-subheader">Members</header>
           </div>
       </div>      
   </div>
</section>

<section *ngIf="!isLoading" class="group-content">
  <mat-tab-group color="accent">
    <mat-tab label="Newsfeed">
      <div class="newsfeed-content col-md-6">
          <header class="group-header">
              Newsfeed
            </header>
            
            <div *ngFor="let item of posts" class="group-post">
              <div class="post-author">
                <div class="post-author-avatar" [style.backgroundImage]="'url('+item.authorImgUrl+')'">
                  
                </div>
                <span (click)="navigate(item.authorUid)" class="post-author-name">
                  {{item.author}}
                </span>
                <div class="post-added-on">
                    Added on {{item.date}}
                  </div>
              </div>
              <mat-divider></mat-divider>
              <p class="post-body">
                {{item.body}}
              </p>
      
            </div>
      </div>
       
    </mat-tab>
    <mat-tab label="Info">
      Info
    </mat-tab>

  </mat-tab-group>

</section>